.markdown-editor {
    outline: none;
    border: 1px solid #333;

    padding: 12px;
    font-size: 1rem;

    &:focus-within {
        border-color: #f00;
    }

    .markdown-block {
        padding: 8px 0;
    }

    [data-type=space] {
        min-height: 1.5rem;
    }

    blockquote {
        border-left: 2px solid #333;
        padding-left: 8px;
    }

    li>:is(ul, ol) {
        margin-left: 24px;
    }

    img {
        width: 100%;
    }

    [data-type=text] {
        white-space: pre-wrap;
    }
}