.markdown-editor {
    --paragraph-padding: 8px;

    outline: none;
    border: 1px solid #333;

    padding: 12px;
    font-size: 1rem;

    &:focus-within {
        border-color: #f00;
    }

    .markdown-block {
        padding: var(--paragraph-padding) 0;
    }

    hr.markdown-block {
        padding: 0;
        margin: var(--paragraph-padding) 0;
        border: none;
        height: 1px;
        background-color: #333;
    }

    blockquote.markdown-block {
        border-left: 2px solid #333;
        padding: 0 0 0 var(--paragraph-padding);
    }

    li>:is(ul, ol) {
        margin-left: 24px;
    }

    img {
        width: 100%;
    }

    [data-type=text] {
        white-space: pre-wrap;
    }

    li.task-item {
        position: relative;
        padding-left: 8px;

        >input.markdown-task-list {
            position: absolute;
            top: calc(var(--paragraph-padding) + 6px);
            right: calc(100% - 4px);
        }
    }

    table.markdown-block {
        border-collapse: collapse;
        padding: 0;
        margin: var(--paragraph-padding) 0;
    }

    td,
    th {
        border: 1px solid #dfe2e5;
        padding: 0.6rem 1rem;
    }

    tr:nth-child(even) {
        background-color: #f6f8fa;
    }
}